.item-list {
  display: flex;
  justify-content: space-between;
  margin: 80px 100px;
}
.individual-list {
  background-color: bisque;
  display: flex;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
}

.map-input {
  margin-left: 20px;
  margin-right: 10px;
}
