body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right, #f5e3e6, #d9e4f5);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #9678b6;
  color: white;
}
nav > img {
  max-width: 170px;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.link {
  color: white;
  text-decoration: none;
  font-size: large;
}
.red {
  background-color: red;
}
#dropdown {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-bottom: 10px;
}
.wrapper {
  justify-content: center;
  display: flex;
  text-align: center;
  line-height: 15px;
}
.user {
  width: 350px;
  border: 1px solid;
  margin: 5px;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.btn {
  border: 1px solid;
}
.shared-groups-golder {
  display: flex;
}

.shared-groups {
  display: flex;
  justify-content: center;
  border: 1px solid;
  margin: 40px;
}
